<h1 class="text-center text-info my-4">気になることリスト</h1>
<% questions.each do |question| %>
  <div class="card mb-1">
    <div class="card-body">
      <p class="card-text space">
        <%= question.title %>
        <%= link_to "削除", question_path(question), method: :delete, class: "text-danger" %>
      </p>
    </div>
  </div>
<% end %>