<div class="card mb-1">
  <div class="card-body">
    <p>ジャンル：<%= @summary.genre.name %></p>
    <p class="card-text">
      <%= @summary.title, summary_path(summary.id) %></br>
    </p>
    <p class="card-text">
      <small><%= simple_format @summary.sentence %></small>
    </p>
    <p>参考文献のURL</p>
    <p class="card-text">
      <%= auto_link(simple_format(@summary.url)) %>
    </p>
  </div>
</div>