<div class="container mt-5">
  <div class="row">
    <div class="col-3 sidebar">
      <table class="table table-bordered genre-search">
        <thead>
          <tr>
            <td>ジャンル検索</td>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <th><%= genre.name %><%# link_to genre.name, items_path(genre_id: genre.id) %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-9 pl-5 pr-5" >
      <h1 class="text-center text-info my-4">To do リスト</h1>
      <form id="form" class="mb-4">
        <input type="text" id="input" class="form-control" placeholder="TODOを入力" autocomplete="off" />
      </form>
      <ul class="list-group text-secondary" id="ul"></ul>
    </div>
    <script src="top.js"></script>
  </div>
</div>